html {
    // cursor: url('../images/hero-header/Vector.png'), auto;
}

body {
    font-family: $font-family-main;
    color: $text-color-dark;
    letter-spacing: 0.04em;
    
    background-image: url('../images/background/backgroud1920.png');
    background-repeat: repeat;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/background/backgroud1920@2x.png');
    }
}

:root {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
