$text-color-dark: #131313;
$text-color-light: #fcfcfc;
$text-color-grey: #ABABAB;

$main-background-color: #84a278;
$secondary-background-color: #f5f5f5;
$accent-color: #f8d24e;
$hover-color: #0a8817;


$products__list-bg-color-1: #aec6a5;
$products__list-bg-color-2: #efd478;
$products__list-bg-color-3: #d6936d;

$contacts__divider-color: #E1E1E1;

$font-family-main: montserrat, sans-serif;
$font-family-secondary: seymour one, sans-serif;
$font-family-additional: dm sans, sans-serif;
