$text-color-dark: #131313;
$text-color-light: #FCFCFC;

$modal-background-color: #FCFCFC;
$main-background-color: #84A278;
$secondary-background-color: #F8D24E;
$hover-color: #0A8817;

$font-family-main: montserrat, sans-serif;
$font-family-secondary: seymour one, sans-serif;