<section class="section advantages__section">
    <div class="container advantages__container">
        <ul class="advantages__list">
            <li class="advantages__item">
                <p class="advantages__header cow">721</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. 
                    Mauris massa.
                </p> 
            </li>
            <li class="advantages__item">
                <p class="advantages__header weight">16kg</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. 
                    Mauris massa.
                </p> 
            </li>
            <li class="advantages__item">
                <p class="advantages__header ice-cream">84</p>
                <p class="advantages__description">
                    Aliquam ac dui vel dui vulputate consectetur. 
                    Mauris massa.
                </p> 
            </li>
        </ul>
    </div>
</section>
