<section class="section contacts__section">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Our contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__card">
                <p class="contacts__subtitle">cafe</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">Chicago</p>
                    <p class="contacts__text--address">
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>
            <li class="contacts__card">
                <p class="contacts__subtitle">FOODTRUCK</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">Los Angeles</p>
                    <p class="contacts__text--address">
                        1003 Manhattan Ave, Manhattan Beach, CA&nbsp90263, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>  
            <li class="contacts__card">
                <p class="contacts__subtitle">cafe</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">New York</p>
                    <p class="contacts__text--address">
                        726 Sterling Pl, Brooklyn, NY 11222, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>                    
        </ul>
        <div class="contacts__buttons">
            <button type="button" class="button contacts__button">Our Locations
                <svg class="contacts__icon" width="12" height="12">
                    <use href="./images/icons.svg#about__icon"></use>
                </svg>
            </button>
            <button type="button" class="button contacts__button">Franchise
                <svg class="contacts__icon" width="12" height="12">
                    <use href="./images/icons.svg#about__icon"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
</div> <!-- end of the wrapper for bg image-->

