<section class="section contacts__section">
    <div class="container contacts__container">
        <h2 class="visually-hidden">Our contacts</h2>
        <ul class="contacts__list">
            <li class="contacts__card">
                <p class="contacts__subtitle">cafe</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">Chicago</p>
                    <p class="contacts__text--address">
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>
            <li class="contacts__card">
                <p class="contacts__subtitle">FOODTRUCK</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">Los Angeles</p>
                    <p class="contacts__text--address">
                        1003 Manhattan Ave, Manhattan Beach, CA&nbsp90263, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>  
            <li class="contacts__card">
                <p class="contacts__subtitle">cafe</p>
                <div class="contacts__text-block">                    
                    <p class="contacts__text--city">New York</p>
                    <p class="contacts__text--address">
                        726 Sterling Pl, Brooklyn, NY 11222, USA
                    </p>                    
                </div>
                <div class="contacts__text-block">   
                    <p class="">Monday - Friday</p>
                    <p class="contacts__text--grey">06:00 AM - 10:00 PM</p>
                    <p class="">Saturday - Sunday</p>
                    <p class="contacts__text--grey">08:00 AM - 16:00 PM</p>
                </div>               
                <div class="contacts__text-block">   
                    <a class="contacts__link" href="tel:+380961111111" >
                        <p class="contacts__text--contact">+61(0) 383 766 284</p>
                    </a>
                    <a class="contacts__link" href="mailto:info@devstudio.com">
                        <p class="contacts__text--contact">noreply@envato.com</p> 
                    </a>                   
                </div>           
            </li>                    
        </ul>
        <div class="contacts__buttons">
            <button data-btn="locations" type="button" class="button contacts__button">Our Locations
                <svg data-btn="locations" class="contacts__icon" width="12" height="12">
                    <use data-btn="locations" href="./images/icons.svg#about__icon"></use>
                </svg>
            </button>
            <button data-btn="franchise" type="button" class="button contacts__button--transparent">Franchise
                <svg class="contacts__icon" width="12" height="12">
                    <use href="./images/icons.svg#about__icon"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="backdrop is-hidden" id="locations">
        <div class="modal_locations">
            <button type="button" class="locations__close-button" data-btn="close">
                <svg class="modal__close-icon" data-btn="close">
                    <use href="./images/icons.svg#icon-close-modal" data-btn="close"></use>
                </svg>
            </button>
            <h3 class="locations__title">Our Locations</h3>
            <div class="locations__map"></div>
            <button type="button" class="button locations__button">Open map</button>            
        </div>
    </div>

    <div class="backdrop is-hidden" id="franchise">
        <div class="modal_franchise">
            <button type="button" class="franchise__close-button" data-btn="close">
                <svg class="modal__close-icon" data-btn="close">
                    <use href="./images/icons.svg#icon-close-modal" data-btn="close"></use>
                </svg>
            </button>
            <h3 class="franchise__title">Thank you for your interest in owning an Ice Cream shop</h3>
            <p class="franchise__text">
                Due to the overwhelming volume of franchise requests we are not accepting new 
                franchisee applications at this time. Once the application process resumes, 
                we will contact you for further information. Please fill out the contact information
                 below and we will reach out for additional information. We appreciate your patience.
            </p>
            <form class="modal__form">               
                <div class="modal__form-field">
                    <label class="modal__form-text" for="name"></label>
                    <input
                        class="modal__form-input"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name"
                    />
                </div>

                <div class="modal__form-field">
                    <label class="modal__form-text" for="tel"></label>
                    <input
                        class="modal__form-input"
                        type="tel"
                        name="tel"
                        id="tel"
                        placeholder="Phone"
                    />
                </div>

                <div class="modal__form-field">
                    <label class="modal__form-text" for="tel"></label>
                    <input
                        class="modal__form-input"
                        type="email"
                        name="tel"
                        id="tel"
                        placeholder="Email"
                    />
                </div>

                <div class="modal__form-field modal__form-field--indent-size">
                    <label class="modal__form-text" for="comment"></label>
                    <textarea
                        class="modal__form-textarea"
                        name="comment"
                        id="comment"
                        rows="8"
                        placeholder="Comment"
                    ></textarea>
                </div>
                <div class="modal__submit-body">
                    <button class="modal__submit-button" type="submit">Submit</button>
                </div>
            </form>
           
        </div>
    </div>
</section>


