<section class="section gallery__section">  
    <h2 class="visually-hidden">Gallery</h2>  
    <div class="container gallery__container">        
            <img class="gallery__image"
                srcset="./images/gallery/img1_m.jpg 279w, 
                ./images/gallery/img1_m@2x.jpg 558w, 
                ./images/gallery/img1_t704.jpg 704w,
                ./images/gallery/img1_t1408@2x.jpg 1408w,
                ./images/gallery/img1_d1013.jpg 1013w,
                ./images/gallery/img1_d2026@2x.jpg 2026w"
                sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, 
                (min-width: 480px) 440px, 100vw"
                src="./images/gallery/img1_m.jpg"
                alt="Ice-cream with blackburry"
            />        
    </div>
</section>
