<header class="header">
    <section class="section head">
        <div class="container nav">
            <img
                class="company__logo"
                srcset="
                    ./images/hero-header/logo.png             48w,
                    ./images/hero-header/logo@2x.png          96w,
                    ./images/hero-header/logo-desktop.png     60w,
                    ./images/hero-header/logo-desktop@2x.png 120w
                "
                sizes="(min-width: 1200px) 60px, (min-width: 320px) 48px, 100vw"
                src="./images/hero-header/logo.png"
                alt="ice cream logo"
                loading="lazy"
            />
            <button
                type="button"
                class="button__menu is-open"
                data-mobile__menu-open
                aria-controls="mobile__menu-body"
            >
                <svg
                    class="button__menu-icons"
                    width="32"
                    height="32"
                    aria-label="Вызов мобильного меню"
                >
                    <use
                        class="button__menu-open"
                        href="./images/icons.svg#icon-open-mobile-menu"
                    ></use>
                    <use
                        class="button__menu-close"
                        href="./images/icons.svg#icon-close-mobile-menu"
                    ></use>
                </svg>
            </button>

            <!-- <button class="hamburger hamburger--collapse is-active" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button> -->

            <nav class="nav__body" id="mobile__menu-body" data-mobile__menu>
                <ul class="nav__list">
                    <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
                </ul>
                <div class="nav__button-body">
                    <button data-modal-open type="button" class="nav__button-buy">
                        Buy now
                        <svg class="nav__icon-buy" width="12" height="12">
                            <use href="./images/icons.svg#about__icon"></use>
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
    </section>
</header>

<section class="section main">
    <div class="container hero">
        <h1 class="hero__title">
            ICE CREAM MADE WITH <span class="hero__bigger-part">PASSION</span>
        </h1>
        <ul class="hero__list">
            <li class="hero__item">
                <a class="hero__button-products" href="#products">Products</a>
            </li>
            <li class="hero__item">
                <a class="hero__button-how" href="#about">How it’s made?</a>
            </li>
        </ul>
        <div class="hero__arrow-body">
            <ul>
                <li>
                    <p class="hero__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et
                    </p>
                </li>
            </ul>
            <button class="hero__button-arrow">
                <svg class="hero__button-simple button-arrow" width="40" height="16">
                    <use href="./images/icons.svg#icon-hero__button-simple"></use>
                </svg>
                <svg class="hero__button-hov button-arrow" width="50" height="16">
                    <use href="./images/icons.svg#icon-hero__button-hov"></use>
                </svg>
                <svg class="hero__button-foc button-arrow" width="50" height="24">
                    <use href="./images/icons.svg#icon-hero__button-foc"></use>
                </svg>
            </button>
        </div>
        <ul class="hero__image-list">
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero-header/plate-ice-cream-tablet.png     152w,
                        ./images/hero-header/plate-ice-cream-tablet@2x.png  304w,
                        ./images/hero-header/plate-ice-cream-desktop.png    225w,
                        ./images/hero-header/plate-ice-cream-desktop@2x.png 450w
                    "
                    sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 100vw"
                    class="hero__image-plate animate__animated animate__bounceInLeft"
                    src="./images/hero-header/plate-ice-cream-tablet.png"
                    alt="beautiful yellow circles"
                    loading="lazy"
                />
            </li>
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero-header/ice-cream-frame-mobile.png      328w,
                        ./images/hero-header/ice-cream-frame-mobile@2x.png   656w,
                        ./images/hero-header/ice-cream-frame-tablet.png      767w,
                        ./images/hero-header/ice-cream-frame-tablet@2x.png  1534w,
                        ./images/hero-header/ice-cream-frame-desktop.png    1200w,
                        ./images/hero-header/ice-cream-frame-desktop@2x.png 2400w
                    "
                    sizes="(min-width: 1200px) 1200px, (min-width: 768px) 767px, (min-width: 320px) 328px, 100vw"
                    class="hero__image-circles animate__animated animate__bounceInDown"
                    src="./images/hero-header/ice-cream-frame-mobile.png"
                    alt="beautiful yellow circles"
                    loading="lazy"
                />
            </li>
            <li class="hero__image-item">
                <img
                    srcset="
                        ./images/hero-header/ice-cream-header-mobile.png     170w,
                        ./images/hero-header/ice-cream-header-mobile@2x.png  340w,
                        ./images/hero-header/ice-cream-header-tablet.png     270w,
                        ./images/hero-header/ice-cream-header-tablet@2x.png  540w,
                        ./images/hero-header/ice-cream-header-desktop.png    484w,
                        ./images/hero-header/ice-cream-header-desktop@2x.png 968w
                    "
                    sizes="(min-width: 1200px) 484px, (min-width: 768px) 270px, (min-width: 320px) 170px, 100vw"
                    class="hero__image-ice animate__animated animate__bounceInRight"
                    src="./images/hero-header/ice-cream-header-mobile.png"
                    alt="ice cream image"
                    loading="lazy"
                />
            </li>
        </ul>
        <div class="hero__sales">
            <ul class="hero__list-sales">
                <li class="hero__item-sales">
                    <p class="hero__text-sales"><span class="hero__number-sales">16</span> cafes</p>
                </li>
                <li class="hero__item-sales">
                    <p class="hero__text-sales">
                        <span class="hero__number-sales">23</span> food trucks
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="modal__close-button" data-modal-close>
                <svg class="modal__close-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-close-modal"></use>
                </svg>
            </button>
            <form class="modal__form">
                <strong class="modal__title">Buy now</strong>
                <div class="modal__image-body">
                    <button class="modal__image-button modal__image-button--green">
                        ICE CREAM
                    </button>
                    <button class="modal__image-button modal__image-button--yellow">
                        ICE COFFEE
                    </button>
                    <button class="modal__image-button modal__image-button--brown">
                        MILKSHAKE
                    </button>
                </div>
                <div class="modal__form-field">
                    <label class="modal__form-text" for="name"></label>
                    <input
                        class="modal__form-input"
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name"
                    />
                </div>

                <div class="modal__form-field">
                    <label class="modal__form-text" for="tel"></label>
                    <input
                        class="modal__form-input"
                        type="tel"
                        name="tel"
                        id="tel"
                        placeholder="Phone"
                    />
                </div>

                <div class="modal__form-field modal__form-field--indent-size">
                    <label class="modal__form-text" for="comment"></label>
                    <textarea
                        class="modal__form-textarea"
                        name="comment"
                        id="comment"
                        rows="8"
                        placeholder="Comment"
                    ></textarea>
                </div>
                <div class="modal__submit-body">
                    <button class="modal__submit-button" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
