<header class="header">
  <div class="container nav"></div>
</header>

<section class="section hero">
  <div class="container">
    <h1 class="hero__title">
      ICE CREAM MADE WITH <span class="hero__bigger-part">PASSION</span>
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <button type="button" class="hero__link-products" href="">
          Products
        </button>
      </li>
      <li class="hero__item">
        <button type="button" class="hero__link-how" href="">
          How it’s made?
        </button>
      </li>
    </ul>
  </div>
</section>
