.button {
  text-decoration: none;
  font-family: $font-family-main;
  font-weight: 600;
  line-height: calc(18 / 14);
  cursor: url('../images/hero-header/Vector.png'), auto;

  display: flex;
  align-items: center;
  text-align: center;

  color: $text-color-dark;
  background: $accent-color;
  border-radius: 10px;

  transition: color $main-animation, border $main-animation;

  &:hover {
    border: 2px solid $hover-color;
  }

  &:focus {
    border: 2px solid $hover-color;
    color: $text-color-light;
    outline: transparent;
    }
  }


.button__burger {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  outline: none;
  cursor: url('../images/hero-header/Vector.png'), auto;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  .button__burger--close {
    display: none;
  }
}

.button__burger.is-open {
  & .button__burger--close {
    display: block;
  }

  & .button__burger--open {
    display: none;
  }
}

/*Кнопка Read more */
.button--about {
  position: relative;
  width: 164px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 34px 12px 34px;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  border: none;
  outline: none;

  &:hover {
    border: none;
    background-color: $hover-color;
  }

  &:focus {
    border: none;
    color: $text-color-light;
    background-color: $hover-color;
  }
}


/* КНОПКА БЕЗ РАМКИ */

.button--no-border {
  border: none;
  padding: 7px 12px;
  font-size: 8px;
  line-height: 1.25;
  background-color: transparent;
  text-decoration: underline;
  color: $accent-color;

  &:hover {
    color: $hover-color;
    border: none;
  }

  &:focus {
    border: none;
  }
}

// Кнока к хедеру
.button--header {
  line-height: 17px;
}

.button--transparent {
  border-color: $accent-color;
  background-color: transparent;
  padding: 7px 12px;
  font-size: 8px;
  line-height: 1.25;
  border: 2px solid $accent-color;
}