.title {
    font-family: $font-family-secondary;
    color: $text-color-light;
    font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
}
.title--black {
    color: $text-color-dark;
}

.title__label {
    margin-bottom: 12px;

    font-family: $font-family-main;
    color: $text-color-light;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
}

.title__label--black {
    color: $text-color-dark;
    font-weight: 800;
}
