.about__section {
    background-color: $main-background-color;

    padding-top: 60px;
    padding-bottom: 42px;

    @media screen and (min-width: 768px) {
        padding-bottom: 48px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
    }
}

.about__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}

.about__image {
    height: 303px;
    width: 280px;
    margin-bottom: 40px;
    margin: 0 auto;
    background-image: url(../images/about/about_sm.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media screen and (min-width: 768px) {
        height: 356px;
        width: 336px;
        background-image: url(../images/about/about_md.png);
        margin-bottom: 0px;
        background-position: 0 0;
        margin-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        height: 529px;
        width: 500px;
        background-image: url(../images/about/about_lg.png);
        margin-bottom: 0px;
        background-position: 0 0;
        margin-right: 100px;
    }
}
// Список ul
.about__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: auto;
    margin-left: auto;

    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;

    color: $text-color-light;

    @media screen and (min-width: 768px) {
        width: 334px;
        gap: 8px;
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        width: 463px;
    }
}
// Лишка в спике
.about__text {
    @media screen and (max-width: 320px) {
        width: 220px;
    }
    width: 100%;
    &:last-of-type {
        display: none;
    }

    @media screen and (min-width: 768px) {
        &:last-of-type {
            display: block;
        }
    }
}

.about__icon {
    position: absolute;
    top: 15px;
    left: 122px;
    margin-right: 5px;
}
