.customers__section {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    background-color: $secondary-background-color;
    background-image: url(../images/background/background1_sm.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/background/background1_sm@2x.png);
    }

    @media screen and (min-width: 481px) {
        background-image: url(../images/background/background1_md.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background/background1_md@2x.png);
        }
    }

    @media screen and (min-width: 769px) {
        background-image: url(../images/background/background1_lg.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/background/background1_lg@2x.png);
        }
    }
}

.customers__slider {
    padding-top: 80px;
    padding-bottom: 394px;

    @media screen and (min-width:768px) {
        padding-top: 60px;
        padding-bottom: 383px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 128px;
        padding-bottom: 207px;
    }
}

.customers__foto {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;

    @media screen and (min-width:768px) {
        margin-bottom: 28px;
    }
}

.customers__reviews {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    padding: 34px 39px;

    font-size: 12px;
    line-height: 2.55;
    color: $text-color-light;

    text-align: center;

    background-color: $main-background-color;
    border-radius: 10px;

    @media screen and (max-width:767px) {
        width: 100%;
    }

    @media screen and (min-width:768px) {
        width: 705px;
        padding: 29px 80px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.86;
        border-radius: 24px;
    }

    @media screen and (min-width:1200px) {
        width: 968px;
        padding: 39px 74px;
        font-size: 16px;
    }
}

.customers__info {
    margin-top: 30px;
    margin-bottom: 14px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;

    @media screen and (min-width:768px) {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 16px;
    }

}