.section-footer {
    padding-bottom: 62px;
    min-width: 320px;

    background-color: $main-background-color;

    @media screen and (min-width: 768px) {
        padding-bottom: 13px;
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 11px;
    }
}
.container-footer {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.slogan-call-box {
    display: flex;
    flex-direction: column;
    color: $text-color-light;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.slogan-box {
    font-weight: 700;
    text-transform: uppercase;
}
.slogan-text--small {
    font-size: 18px;
    line-height: 22px;
    max-width: 320px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 32px;
        max-width: 352px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        font-weight: 400;
        max-width: 504px;
    }
}
.slogan-text--big {
    margin-top: 16px;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    max-width: 200px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-top: 9px;
        max-width: 340px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 14px;
        max-width: 497px;

        font-size: 58px;
    }
}
.networks {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        margin-top: 42px;
    }
}
.networks-list {
    display: flex;
    justify-content: end;

    & > li:nth-child(2) {
        margin-left: 28px;
        margin-right: 29px;
    }
}
.networks-list__item {
    width: 32px;
    height: 32px;
    @media screen and (min-width: 768px) {
        width: 34px;
        height: 34px;
    }
}
.networks-list__link {
    display: block;
    width: 100%;
    height: 100%;
    color: $main-background-color;

    &:hover,
    &:focus {
        color: #ffffff;
        outline: none;
    }
}
.networks__icon {
    width: 100%;
    height: 100%;

    fill: currentColor;
}
.call {
    display: flex;
    justify-content: end;
    text-align: end;

    margin-right: 0;
    margin-top: 39px;

    font-size: 12px;
    line-height: 1.9;
    letter-spacing: 0.01;

    @media screen and (min-width: 768px) {
        margin-top: 32px;

        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 40px;

        font-size: 16px;
    }
}
.call__text {
    color: $text-color-dark;
    font-weight: 700;
}
.call__link {
    font-family: $font-family-additional;
    color: $text-color-light;
    font-weight: 500;
    text-decoration: none;
}
.underfooter {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 280px;
    margin-top: 56px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 100vw;
        border-bottom: 1px solid #e1e1e1;
        bottom: 58px;

        @media screen and (min-width: 768px) {
            bottom: 40px;
        }

        @media screen and (min-width: 1200px) {
            content: '';
            display: inline-block;
            width: calc(100vw - 4%);
            border-bottom: 1px solid #e1e1e1;
            bottom: 36px;
        }
    }
    @media screen and (min-width: 768px) {
        max-width: 100%;
        margin-top: 46px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 66px;
        font-size: 12px;
        line-height: 1.9;
    }
}
