.gallery__section {    
    min-width: 320px;
    max-width: 1600px;
    background-image: linear-gradient(
        to bottom,
        $main-background-color 16%,
        $secondari-background-color 16%);     
        
    @media screen and(min-width: 768px) {
        background-image: linear-gradient(
            to bottom,
            $main-background-color 50%,
            $secondari-background-color 50%);           
    }
    
    @media screen and(min-width: 1200px) {
        background-image: linear-gradient(
            to bottom,
            $main-background-color 22%,
            $secondari-background-color 22%);           
    }
}

.gallery__container {
    // outline: 1px solid red;
}



.gallery__image {
    display: block;
    margin: 0 auto;
    width: 279px;
    height: 130px;
    background: url(../images/gallery/img1.jpg);
    border-radius: 7.40681px;
    background-repeat:no-repeat;
    background-size: cover;

    @media screen and(min-width: 768px){
        width: 704px;
        height: 327px;  
        border-radius: 18px;      
    }

    @media screen and(min-width: 1200px){
        width: 1013px;
        height: 422px;  
        border-radius: 24px;     
    }
}

