.header {
    background-color: $main-background-color;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 12px;

    @media screen and (min-width: 768px) {
        padding-top: 20px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 18px;
    }
}

.button__menu {
    z-index: 3;
    border: transparent;
    background-color: transparent;
    margin-left: auto;
    padding: 0;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.button__menu-open {
    opacity: 1;
    transition: 300ms;

    .button__menu.is-open & {
        opacity: 0;
    }
}

.button__menu-close {
    opacity: 0;
    transition: 300ms;

    .button__menu.is-open & {
        opacity: 1;
    }
}

.nav__body {
    @media screen and (max-width: 1199px) {
        z-index: 2;
        background-color: $main-background-color;
        position: fixed;
        transform: translateX(100%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform $main-animation;
        padding: 100px 22px 0px 23px;

        &.is-open {
            transform: translateX(0);
        }

        &.active {
            display: none;
        }
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
        display: flex;
        margin-left: 270px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding: 140px 179px 0px 180px;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 27px;
    }
}

.nav__link {
    color: $text-color-light;
    display: flex;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    transition: color $main-animation;

    &:hover {
        color: $accent-color;
    }

    &:focus {
        color: $accent-color;
        outline: transparent;
    }

    @media screen and (max-width: 1199px) {
        font-size: 32px;
        line-height: 1.22;

        @media screen and (min-width: 768px) {
            font-size: 48px;
            line-height: 1.55;
        }

        &:hover {
            color: $text-color-dark;
        }

        &:focus {
            color: $text-color-dark;
            outline: transparent;
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 20px 0px;
    }
}

.nav__button-buy {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    outline: transparent;
    border: none;
    background-color: $accent-color;
    border-radius: 10px;

    padding: 12px 34px;

    color: $text-color-dark;
    font-weight: 600;
    line-height: 1.21;

    transition: color $main-animation, background-color $main-animation;

    &:hover {
        background-color: $hover-color;
    }

    &:focus {
        background-color: $hover-color;
        color: $text-color-light;
        fill: $text-color-light;
    }

    @media screen and (max-width: 1199px) {
        margin-top: 111px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 213px;
    }

    @media screen and (min-width: 767px) and (max-width: 1199px) {
        display: none;
    }
}

.nav__buy-button {
    display: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    outline: transparent;
    border: none;
    background-color: $accent-color;
    border-radius: 10px;

    padding: 12px 34px;

    color: $text-color-dark;
    font-weight: 600;
    line-height: 1.21;

    transition: color $main-animation, background-color $main-animation;

    &:hover {
        background-color: $hover-color;
    }

    &:focus {
        background-color: $hover-color;
        color: $text-color-light;
        fill: $text-color-light;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
        margin-left: 38px;
    }
}

.nav__icon-buy {
    margin-left: 7px;

    @media screen and (min-width: 1200px) {
        margin-left: 11px;
    }
}

.nav__buy-body {
    display: none;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;

    opacity: 1;
    z-index: 2;
    transition: opacity $main-animation;
}

.backdrop {
    &.is-hidden {
        pointer-events: none;
        opacity: 0;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 32px 54px;

    background-color: $text-color-light;
    border: 2px solid $accent-color;
    border-radius: 10px;

    width: 568px;

    height: 644px;

    transition: transform $main-animation;

    @media screen and (max-width: 767px) {
        width: auto;
        padding: 28px 28px;
        height: 986px;
    }
}

.modal__close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:focus {
        fill: $accent-color;
    }

    @media screen and (max-width: 767px) {
        top: 8px;
        right: 8px;
    }
}

.modal__close-icon {
    transition: fill $main-animation;
    &:hover {
        fill: $accent-color;
    }
}

.backdrop.is-hidden {
    & .modal {
        transform: translate(-50%, -50%) scale(0.9);
    }
}

.modal__title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-family-secondary;
    font-size: 20px;
    line-height: 1.4;
    color: $text-color-dark;
}

.modal__form-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;

    @media screen and (max-width: 767px) {
        margin-bottom: 12px;
    }
}
.modal__form-field:nth-last-child(-n + 2) {
    margin-bottom: 32px;

    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.modal__form {
    position: relative;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

.modal__form-input {
    position: relative;
    outline: transparent;
    width: 100%;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $main-background-color;
    border-radius: 10px;
    min-height: 42px;
    padding: 11px 0px 11px 16px;
    width: 368px;

    @media screen and (max-width: 767px) {
        width: 224px;
        font-size: 12px;
        line-height: 1.42;
        padding: 8px 12px 7px 12px;
        min-height: 32px;
    }

    transition: border-color $main-animation;

    &::placeholder {
        color: $text-color-dark;
    }

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

.modal__form-textarea {
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $main-background-color;
    border-radius: 10px;

    line-height: 1.43;
    color: $text-color-dark;

    outline: transparent;
    width: 100%;
    height: 84px;
    padding: 11px 0px 11px 16px;

    width: 368px;

    transition: border-color $main-animation;

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        height: 65px;
        font-size: 12px;
        padding: 8px 0px 38px 12px;
    }

    resize: none;

    &::placeholder {
        color: $text-color-dark;
    }
}

.modal__submit-button {
    font-family: $font-family-main;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: $text-color-dark;

    background: $accent-color;
    border-radius: 10px;
    padding: 12px 34px;
    border: none;
    outline: transparent;

    transition: color $main-animation, background-color $main-animation;

    &:hover {
        background-color: $hover-color;
    }

    &:focus {
        background-color: $hover-color;
        color: $text-color-light;
    }

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.25;
    }
}

.modal__submit-body {
    display: flex;
    justify-content: center;
}

.modal__form-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: green;
}

.modal__input-icon {
    transition: fill $main-animation;

    position: absolute;
    bottom: 11px;
    left: 12px;
    pointer-events: none;

    .modal__form-field:hover & {
        fill: green;
    }
}

.modal__image-body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 103px;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        row-gap: 84px;
        margin-top: 84px;
        margin-bottom: 24px;
    }
}

.modal__image-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.43;
    letter-spacing: 0.04em;
    color: $text-color-dark;
    background-color: $text-color-light;
    padding: 95px 0px 20px 0px;
    margin-bottom: 40px;
    width: 132px;
    height: 135px;

    border: 2px solid;
    border-radius: 16px;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

    transition: background-color $main-animation;

    @media screen and (max-width: 767px) {
        margin-bottom: 0px;
    }
}

.modal__image-button--green {
    &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 130px;
        height: 130px;
        border-radius: 50%;

        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
            #aec6a5;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
        background-image: url(../images/hero-header/ice-cream-icon.png);
        background-position: 0 -7px;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/hero-header/ice-cream-icon@2x.png);
        }
    }

    border-color: $modal__card-green;

    &:hover,
    &:focus {
        background-color: $modal__card-green;
    }
}

.modal__image-button--yellow {
    &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 130px;
        height: 130px;
        border-radius: 50%;

        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #efd478;
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
        background-image: url(../images/hero-header/ice-coffee-icon.png);
        background-position: 0 -7px;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/hero-header/ice-coffee-icon@2x.png);
        }
    }

    border-color: #efd478;

    &:hover,
    &:focus {
        background-color: #efd478;
    }
}

.modal__image-button--brown {
    &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 130px;
        height: 130px;
        border-radius: 50%;

        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)) #d6936d;
        box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
        background-image: url(../images/hero-header/ice-milkshake-icon.png);
        background-position: 0 -7px;
        background-repeat: no-repeat;
        background-size: cover;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/hero-header/ice-milkshake-icon@2x.png);
        }
    }

    border-color: #d6936d;

    &:hover,
    &:focus {
        background-color: #d6936d;
    }
}
