

.nav__mobile-menu {
    margin-right: auto;
}

.hero {
    padding-top: 61px;
    padding-bottom: 239px;
    padding-left: 20px;
    position: relative;
}

.hero__title {
    color: $text-color-light;
    font-family: $font-family-secondary;
    font-size: 26px;
    line-height: 1.27;
    font-weight: normal;

    @media screen and (max-width: 767px) {
        max-width: 247px;
    }
}

.hero__bigger-part {
    font-size: 34px;
    line-height: 96.5%;
}

.hero__list {
    display: flex;
    margin-top: 32px;
    gap: 8px;
}

.hero__image-circles {

    @media screen and (max-width: 767px) {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }
    
}

.hero__image-ice {
    @media screen and (max-width: 767px) {
        position: absolute;
        bottom: -53px;
        left: 30px;
        pointer-events: none;
    }
}