button {
    cursor: url('../images/hero-header/vector.png'), auto;
}



// ХЕДЕР



.nav {
    display: flex;
}

.company__logo {
    padding-top: 12px;
    z-index: 2;
}

.button__menu {
    z-index: 2;
    border: transparent;
    background-color: transparent;
    margin-left: auto;
    margin-top: auto;
    padding: 0;

    @media screen and (min-width: 1200px) {
        display: none;
    }
// ЗАДАЙ ОПАСИТИ И ПЛАНЙ ПЕРЕХОД
    .button__menu-open {
        display: none;
    }
}

.button__menu.is-open {
    & .button__menu-open {
            display: block;
        }

    & .button__menu-close{
        display: none;
    }
}

.nav__menu {
    z-index: 1;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (max-width: 1199px) {
        background-color: $main-background-color;
        position: fixed;
        transform: translateX(100%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 100px 23px 0px 23px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.nav__item {
    margin-top: 32px;
    text-align: center;

    &:first-child {
        margin-top: 0;
    }
}

.nav__link {
    cursor: url('../images/hero-header/vector.png'), auto;
    text-decoration: none;
    color: $modal-background-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.22;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: $text-color-dark;
    }

    &:focus {
        color: $text-color-dark;
        outline: transparent;
    }
}

.nav__button-buy {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    outline: transparent;
    border: none;
    background-color: $accent-color;
    border-radius: 10px;

    padding: 12px 34px;
    margin-top: 111px;

    color: $text-color-dark;
    font-weight: 600;
    line-height: 1.21;
}

.nav__icon-buy {
    margin-left: 7px;
}



// HERO



.hero {
    padding-top: 58px;
    padding-bottom: 239px;
    position: relative;
}

.hero__title {
    color: $text-color-light;
    font-family: $font-family-secondary;
    font-size: 26px;
    line-height: 1.27;
    font-weight: normal;
}

.hero__bigger-part {
    font-size: 34px;
    line-height: 96.5%;
}

.hero__list {
    display: flex;
    margin-top: 32px;
    gap: 8px;
}

.hero__button-products { 
    padding: 7px 12px;
    color: $text-color-dark;
    font-size: 8px;
    line-height: 1.25;
    font-weight: 600;
    border: 2px solid $accent-color;
    border-radius: 10px;
    background-color: transparent;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        border: 2px solid $hover-color;
    }

    &:focus {
        border: 2px solid $hover-color;
        color: $text-color-light;
        outline: transparent;
    }
}

.hero__button-how {
    padding: 7px 12px;
    color: $accent-color;
    font-size: 8px;
    line-height: 1.25;
    font-weight: 600;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 10px;
    background-color: transparent;
    border: none;

    &:hover {
        color: $hover-color;
    }

    &:focus {
        color: $text-color-light;
        outline: transparent;
    }
}

.hero__image-circles {

    @media screen and (max-width: 767px) {
        position: absolute;
        bottom: 0%;
        left: 0%;
    }
}

.hero__image-ice {
    @media screen and (max-width: 767px) {
        position: absolute;
        bottom: -53px;
        left: 30px;
        pointer-events: none;
    }
}












